.special-section {
    display: flex;
    flex-direction: column;
    width: 900px;
    row-gap: 30px;
}

.specials-title {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin: 0px 20px auto;
}

.container-specials {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
}

.special-card {
    margin: 10px 10px auto;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.dish-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.special-dish {
    width: 200px;
    height: 150px;
    border-radius: 16px;
    object-fit: cover;
}

.dish-price {
    color: #EE9972;
}

.dish-name {
    text-align: left;
}

.dish-details {
    height: 100px;
    text-align:start;
}

.special-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    width: 200px;
    height: 20px;
    text-align: left;
    font-size: 18px;
    font-family: 'Karla';
}

.delivery-icon {
    width: 20px;
    height: 20px;
}