@media (max-width: 700px) {
    .grid-adjustable-columns {
        display: grid;
        grid-auto-flow: row;
    }
}

@media (min-width: 701px) {
    .grid-adjustable-columns {
        width: min(900px,75rem);
        margin: 0 auto;
        grid-auto-flow: column;
        gap: 1em;
    }
}

.bottom-navigation {
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    width: 900px;
}

.part {
    margin: 0 auto;
    flex-direction: column;
}

.img-part {
    width: 250px;
    height: 200px;
    border-radius: 16px;
}

.part h4 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    color: #333333;
}

.part ul {
    list-style-type: none;
    padding-left: 0;
}

.part a {
    font-family: 'Karla';
    font-style: normal;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}